body {
    margin: 0;
    padding: 0;
    background-color: rgba(255,255,255,0.3);
    height: 100vh;
}
#app {
    height: 100vh;
}

.container {
    height: 100vh;
}

.colorContainer {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.colorPawnContainer {
    display: flex;
    flex-direction: column;
    width: 30px;
    align-items: center;
}

.listColorPawnsContainer{
    display: flex;
    justify-content: center;
    background-color: gray;
    border-radius: 4px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 1%);
}
.previewsPlayContainer {
    margin : 0 auto;
    border: black solid 2px;
    border-radius: 4px;
    width: 300px;
    height: 70vh;
}
.result{
    display: flex;
    background-color: lightgrey;
    margin: 3px;
    border-radius: 3px;
    padding: 2px;
    .colorContainer{
        margin: 3px;
    }
}
